.rectangle {
  font-family: 'Niconne', cursive;
  font-size: 15px;
  position: center;
  width: 100%;
  /* width: auto;
  height: auto; */
  color: #F0E68C;
  border-radius: 5px;
  border: solid #F0E68C 1px;
  padding: 15px;
  background-color: #192934
}

.column {
  padding: 18px;
  display: grid;
}

.row {
  font-size: 12px;
  display: flex;
}

.first_row {
  font-size: 17px;
  display: flex;
  font-weight: bold;
}
