@font-face {
    font-family: "Orbitron";   /*Can be any text*/
    src: local("Orbitron-Bold"),
      url("../fonts/Orbitron-Bold.ttf") format("truetype");
  }

body {
    background: black;
}

.clock {
    position: absolute;
    /* top: 50%;*/
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    color: #025f12;
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

.msg {
    position: absolute;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    color: #025f12;
    font-size: 18px;
    font-family: Orbitron;
    letter-spacing: 2px;
}

