/* @font-face {
  font-family: "Ubuntu";
 
  src: local("Ubuntu-Bold"),
    url("../fonts/Ubuntu-Bold.ttf") format("truetype");
} */

.title {
  font-family: Ubuntu;
  display: 'flex';
  text-align: center;
  text-shadow: 0px 2px 6px #F0E68C;
  font-size: 28px;
  color: #F0E68C;
}


.sub_title {
  font-family: Ubuntu;
  display: 'flex';
  justify-content: 'left';
  /* align-items: 'center'; */
  /* margin-left: 50px; */
  color: #EEE8AA;
  font-size: 18px;
}
